@font-face {
  font-family: "helvitica";
  src: url("../fonts/Helvetica.woff");
}
body {
  font-family: "helvetica";
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.cdw-links {
  position: fixed;
  z-index: 8;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.cdw-links .cdw-link {
  outline: none;
  text-decoration: none;
  color: rgb(150, 245, 255);
  opacity: 0.25;
  font-size: 2rem;
  transition: 0.5s ease;
}
.cdw-links .cdw-link.is-active {
  opacity: 1;
  transition: 0.5s ease;
}
.cdw-links .cdw-link:hover {
  color: rgba(255, 255, 255, 0.75);
  opacity: 1;
  transition: 0.5s ease;
}

.slideshow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url(../img/main.jpg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
}
.slideshow::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}
.slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 35vh 0 0 0;
  pointer-events: none;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
.slideshow .slide--current {
  pointer-events: auto;
}
.slideshow .slide--current .slide__element {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.slideshow .slide .slide__element {
  opacity: 0;
  color: #252445;
  transform: translate3d(0, 50px, 0);
  transition: transform 0.3s, opacity 0.3s;
}

.vignette {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: 1s ease;
}
.vignette.sunny {
  mix-blend-mode: lighten;
  opacity: 0;
}
.vignette.sunny.is-active {
  opacity: 1;
  z-index: 1;
  transition: 1s ease;
}
.vignette.drizzle {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.7) 100%);
  opacity: 0;
}
.vignette.drizzle.is-active {
  opacity: 0.25;
  z-index: 1;
  transition: 1s ease;
}
.vignette.rain {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.9) 100%);
  opacity: 0;
}
.vignette.rain.is-active {
  opacity: 1;
  z-index: 1;
  transition: 1s ease;
}

.large-text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  font-size: 15vw;
  font-weight: 100;
  font-family: "helvetica";
  background-image: url("../img/main.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1rem;
  mix-blend-mode: soft-light;
}

.slideshow__nav {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
}
.slideshow__nav .weather-item {
  display: block;
  padding: 1em;
  font-size: 3rem;
  color: #252445;
  transition: color 0.3s;
  text-decoration: none;
  color: rgb(150, 245, 255);
  opacity: 0.5;
  position: relative;
  cursor: pointer !important;
  pointer-events: all;
  transition: 0.5s ease;
}
.slideshow__nav .weather-item i {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slideshow__nav .weather-item :nth-child(1) {
  opacity: 1;
  transition: 0.5s ease;
}
.slideshow__nav .weather-item :nth-child(2) {
  opacity: 0;
  transition: 0.5s ease;
}
.slideshow__nav .weather-item--current {
  opacity: 1;
  transition: 0.5s ease;
}
.slideshow__nav .weather-item--current :nth-child(1) {
  opacity: 0;
  transition: 0.5s ease;
}
.slideshow__nav .weather-item--current :nth-child(2) {
  opacity: 1;
  transition: 0.5s ease;
}
.slideshow__nav .weather-item:hover {
  color: rgba(255, 255, 255, 0.75);
  opacity: 1;
  transition: 0.5s ease;
}

@keyframes vignetteFadeIn {
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=index.css.map */